body{
    text-align: center;
    background-color:rgb(243, 194, 188);
    margin: 50px;
    margin: 14px;
}

main{
    will-change: 800px;
    margin: 200px auto 72px auto;
    background-color:rgb(219, 108, 94);
    padding: 24px;
    border: 5px solid   rgb(44, 44, 44);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(0, 0, 0.3);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid rgb(44, 44, 44);
    margin-top: -144px ;
}

#todays-challange {
    color:rgb(75 ,59 ,59);
    font-weight: bold;
    font-size:  52px;
}

h1{
    font-family: 'Press Start 2P' , sans-serif;
    text-align:center;
    color: hsl(31, 25, 25);
    font-size: 38px;
}

a{
    color:rgb(73, 29, 50);
    text-decoration:none;
    font-size: 50px;
    }

span{
    color:rgb(66, 2, 2)
}

#basics{
    font-family: 'Press Start 2P' , sans-serif;
    border: 4px solid rgb(10, 10, 10);
    color: hsl(0, 5%, 31%);
    font-size: 18px
}

p {
    font-family: 'Cute Font' , sans-serif;
    text-align: center;
    color: hsl(0, 5%, 31%);
    font-size: 50px;
}


    
a:hover {
    text-decoration: underline;
}

